<template>
  <mdb-container>
    <form @submit.prevent="update_driver">
      <mdb-input label="Firstname" type="text" v-model="driver.first_name"/>
      <mdb-input label="Middlename" type="text" v-model="driver.middle_name"/>
      <mdb-input label="Lastname" type="text" v-model="driver.last_name"/>
      <mdb-input label="License No." type="text" v-model="driver.license_no"/>
      <mdb-input label="Mobile" type="text" v-model="driver.mobile"/>
      <mdb-input label="License Expiry date" type="date" v-model="driver.license_expiry_date"/>
      <mdb-input label="Date of birth" type="date" v-model="driver.date_of_birth"/>

      <mdb-btn class="btn btn-primary">Update</mdb-btn>
      <mdb-btn class="btn btn-primary" @click="cancelCreate">Cancel</mdb-btn>
    </form>
  </mdb-container>
</template>

<script>
import { mdbInput, mdbContainer, mdbBtn } from "mdbvue";
import api from "../../api";

export default {
  name: "driver_edit",
  components: {
    mdbInput,
    mdbContainer,
    mdbBtn
  },
  data: function() {
    return {
      driver: {}
    };
  },
  methods: {
    get_driver() {
      api
        .get(`drivers/${this.$route.params["id"]}.json`)
        .then(res => {
          this.driver = res.data;
        })
        .catch(err => {
          console.error(err);
        })
        .finally(() => {});
    },
    update_driver() {
      this.$validator.validateAll().then(result => {
        if (result) {
          api
            .put(`drivers/${this.driver.id}.json`, this.driver)
            .then(res => {
              console.info(`driver updated with ID - ${res.data.id}`);
              this.navigate_to_drivers();
            })
            .catch(err => {
              console.error(`driver updated failed - ${err}`);
            });
          return;
        }

        alert("Correct the errors!");
      });
    },

    navigate_to_drivers() {
      this.$router.push("/drivers");
    },

    cancelCreate() {
      this.navigate_to_drivers();
    }
  },

  created() {
    this.get_driver();
  }
};
</script>