<template>
  <div>
    <p>Drivers</p>
    <mdb-container>
      <mdb-row>
        <mdb-col col="lg-3">
          <router-link to="/drivers/new">
            <mdb-btn color="primary">New Driver</mdb-btn>
          </router-link>
        </mdb-col>
      </mdb-row>
    </mdb-container>
      <v-data-table :headers="columns" :items="drivers" class="elevation-1">
        <template v-slot:items="drivers">
          <td>
            <router-link :to="{path: '/drivers/edit/'+drivers.item.id}">{{ drivers.item.id }}</router-link>
          </td>
          <td class="text-xs-center">{{ drivers.item.first_name }}</td>
          <td class="text-xs-center">{{ drivers.item.last_name }}</td>
          <td class="text-xs-center">{{ drivers.item.license_no }}</td>
          <td class="text-xs-center">{{ drivers.item.mobile }}</td>
        </template>
      </v-data-table>
  </div>
</template>

<script>
import Vue from "vue";
import { VDataTable } from "vuetify/lib";
import { mdbRow, mdbCol, mdbContainer, mdbBtn } from "mdbvue";
import api from "../../api";

export default {
  name: "drivers",
  components: {
    mdbRow,
    mdbCol,
    mdbContainer,
    mdbBtn,
    VDataTable
  },
  data: function() {
    return {
      columns: [
        {
          text: "Driver #",
          align: "center",
          sortable: false,
          value: "id"
        },
        {
          text: "Firstname",
          align: "center",
          sortable: false,
          value: "first_name"
        },
        {
          text: "Lastname",
          align: "center",
          sortable: false,
          value: "last_name"
        },
        {
          text: "License No.",
          align: "center",
          sortable: false,
          value: "license_no"
        },
        {
          text: "Mobile",
          align: "center",
          sortable: false,
          value: "mobile"
        }
      ],
      drivers: []
    };
  },
  methods: {
    get_drivers() {
      api
        .get("drivers/paged.json")
        .then(res => {
          console.info(res.data);
          this.drivers = res.data.rows;
        })
        .catch(err => {
          console.error(err);
        });
    }
  },
  created() {
    this.get_drivers();
  }
};
</script>
