<template>
<mdb-container>
  <form @submit.prevent="create_driver">
    <mdb-input label="Firstname" type="text" v-model="driver.first_name"/>
    <mdb-input label="Middlename" type="text" v-model="driver.middle_name"/>
    <mdb-input label="Lastname" type="text" v-model="driver.last_name"/>
    <mdb-input label="License No." type="text" v-model="driver.license_no"/>
    <mdb-input label="Mobile" type="text" v-model="driver.mobile"/>
    <mdb-input label="License Expiry date" type="date" v-model="driver.license_expiry_date"/>
    <mdb-input label="Date of birth" type="date" v-model="driver.date_of_birth"/>

    <mdb-btn class="btn btn-primary">Create</mdb-btn>
    <mdb-btn class="btn btn-primary" @click="cancelCreate">Cancel</mdb-btn>
  </form>
</mdb-container>
</template>

<script>
  import { mdbInput, mdbContainer, mdbBtn } from 'mdbvue';
  import api from '../../api.js';

  export default {
    name: "driver",
    components : {
      mdbInput,
      mdbContainer,
      mdbBtn
    },
    data: function() {
      return {
        driver: {
          first_name: "",
          last_name: "",
          middle_name: "",
          license_no: "",
          date_of_birth: "",
          mobile: "",
          license_expiry_date: ""
        }
     }
    },
    methods: {
      create_driver() {

        api.post('/drivers/', this.driver)
        .then(res => {
          console.info(`driver created with ID - ${res.data.id}`);
          this.navigate_to_drivers();
        })
        .catch(err => {
          console.error(`driver creation failed - ${err}`);
        });
      },

      navigate_to_drivers() {
        this.$router.push('/drivers');
      },

      cancelCreate() {
        this.navigate_to_drivers();
      }
    }
  }
</script>
