<template>
  <mdb-container>
    <mdb-row>
      <mdb-col col="lg-2"><router-link to="/assignments/new"><mdb-btn color="primary">New Trip</mdb-btn></router-link></mdb-col>
    </mdb-row>
    <mdb-datatable
      data="http://139.59.92.226/api/assignments/paged.json" 
      striped
      bordered
    />
  </mdb-container>
</template>

<script>
  import { mdbDatatable, mdbRow, mdbCol, mdbContainer, mdbBtn } from 'mdbvue';
  import axios from 'axios';

  export default {
    name: "assignments",
    components: {
      mdbRow,
      mdbCol,
      mdbContainer,
      mdbBtn,
      mdbDatatable,
    },
    methods: {
      renderAssignmentLink(data, type, row) {
        console.info(data);
        return "<a href='assignments/"+data+"'>"+data+"</a>";
      }
    }
  }
</script>
