<template>
  <mdb-container>
    <form @submit.prevent="update_vehicle">
      <mdb-input label="Id" type="text" v-model="vehicle.id" disabled="disabled"/>
      <mdb-input
        v-validate="'required'"
        name="registration_no"
        label="Vehicle Reg. No."
        type="text"
        v-model="vehicle.registration_no"
      />
      <span>{{ errors.first('registration_name') }}</span>

      <mdb-input label="Make" type="text" v-model="vehicle.make"/>
      <mdb-input label="Model" type="text" v-model="vehicle.model"/>
      <mdb-input label="Category" type="text" v-model="vehicle.category"/>
      <mdb-input label="Start date" type="date" v-model="vehicle.start_date"/>

      <mdb-btn class="btn btn-primary">Update</mdb-btn>
      <mdb-btn class="btn btn-primary" @click="cancelCreate">Cancel</mdb-btn>
    </form>
  </mdb-container>
</template>

<script>
import { mdbInput, mdbContainer, mdbBtn } from "mdbvue";
import api from "../../api";

export default {
  name: "vehicle_edit",
  components: {
    mdbInput,
    mdbContainer,
    mdbBtn
  },
  data: function() {
    return {
      vehicle: {}
    };
  },
  methods: {
    get_vehicle() {
      api
        .get(`vehicles/${this.$route.params["id"]}.json`)
        .then(res => {
          this.vehicle = res.data;
        })
        .catch(err => {
          console.error(err);
        })
        .finally(() => {});
    },
    update_vehicle() {
      this.$validator.validateAll().then(result => {
        if (result) {
          api
            .put(`vehicles/${this.vehicle.id}.json`, this.vehicle)
            .then(res => {
              console.info(`Vehicle updated with ID - ${res.data.id}`);
              this.navigate_to_vehicles();
            })
            .catch(err => {
              console.error(`Vehicle updated failed - ${err}`);
            });
          return;
        }

        alert("Correct the errors!");
      });
    },

    navigate_to_vehicles() {
      this.$router.push("/vehicles");
    },

    cancelCreate() {
      this.navigate_to_vehicles();
    }
  },

  created() {
    this.get_vehicle();
  }
};
</script>