<template>
  <div>
    <p>Vehicles</p>
    <mdb-container>
      <mdb-row>
        <mdb-col col="lg-3">
          <router-link to="/vehicles/new">
            <mdb-btn color="primary">New Vehicle</mdb-btn>
          </router-link>
        </mdb-col>
      </mdb-row>
    </mdb-container>
      <v-data-table :headers="columns" :items="vehicles" class="elevation-1">
        <template v-slot:items="vehicle">
          <td>
            <router-link :to="{path: '/vehicles/edit/'+vehicle.item.id}">{{ vehicle.item.id }}</router-link>
          </td>
          <td class="text-xs-center">{{ vehicle.item.registration_no }}</td>
          <td class="text-xs-center">{{ vehicle.item.make }}</td>
          <td class="text-xs-center">{{ vehicle.item.model }}</td>
          <td class="text-xs-center">{{ vehicle.item.category }}</td>
        </template>
      </v-data-table>
  </div>
</template>

<script>
import Vue from "vue";
import { VDataTable } from "vuetify/lib";
import { mdbRow, mdbCol, mdbContainer, mdbBtn } from "mdbvue";
import api from "../../api";

export default {
  name: "vehicles",
  components: {
    mdbRow,
    mdbCol,
    mdbContainer,
    mdbBtn,
    VDataTable
  },
  data: function() {
    return {
      columns: [
        {
          text: "Vehicle #",
          align: "center",
          sortable: false,
          value: "id"
        },
        {
          text: "Registration #",
          align: "center",
          sortable: false,
          value: "registration_no"
        },
        {
          text: "Make",
          align: "center",
          sortable: false,
          value: "make"
        },
        {
          text: "Model",
          align: "center",
          sortable: false,
          value: "model"
        },
        {
          text: "Category",
          align: "center",
          sortable: false,
          value: "category"
        }
      ],
      vehicles: []
    };
  },
  methods: {
    get_vehicles() {
      api
        .get("vehicles/paged.json")
        .then(res => {
          console.info(res.data);
          this.vehicles = res.data.rows;
        })
        .catch(err => {
          console.error(err);
        });
    }
  },
  created() {
    this.get_vehicles();
  }
};
</script>
