<template>
<mdb-container>
  <form @submit.prevent="create_vehicle">
    <mdb-input label="Vehicle Reg. No." type="text" v-model="vehicle.registration_no"/>
    <mdb-input label="Make" type="text" v-model="vehicle.make"/>
    <mdb-input label="Model" type="text" v-model="vehicle.model"/>
    <mdb-input label="Category" type="text" v-model="vehicle.category"/>
    <mdb-input label="Start date" type="date" v-model="vehicle.start_date"/>

    <mdb-btn class="btn btn-primary">Create</mdb-btn>
    <mdb-btn class="btn btn-primary" @click="cancelCreate">Cancel</mdb-btn>
  </form>
</mdb-container>
</template>

<script>
  import { mdbInput, mdbContainer, mdbBtn } from 'mdbvue';
  import api from '../../api.js';

  export default {
    name: "vehicle",
    components : {
      mdbInput,
      mdbContainer,
      mdbBtn
    },
    data: function() {
      return {
        vehicle: {
          registration_no: "",
          make: "",
          model: "",
          category: "Hatch Back",
          start_date: "1970/01/01"
        }
     }
    },
    methods: {
      create_vehicle() {

        api.post('/vehicles/', this.vehicle)
        .then(res => {
          console.info(`Vehicle created with ID - ${res.data.id}`);
          this.navigate_to_vehicles();
        })
        .catch(err => {
          console.error(`Vehicle creation failed - ${err}`);
        });
      },

      navigate_to_vehicles() {
        this.$router.push('/vehicles');
      },

      cancelCreate() {
        this.navigate_to_vehicles();
      }
    }
  }
</script>
