<template>
  <div class="home">

    <dashboard :drivers="drivers" :vehicles="vehicles" :trackers="trackers" :assignments="assignments">
    </dashboard>
  </div>
</template>

<script>
// @ is an alias to /src
import dashboard from '@/components/dashboard.vue';

import api from '../api.js';

export default {
  name: 'home',
  data: function() {
    return {
      vehicles: "0",
      drivers: "0",
      trackers: "0",
      assignments: "0",
    }
  },
  components: {
    dashboard,
  },
  methods: {
    fetchStats: function() {
      api.get('/stats').then(res => {
        console.info(res);
        this.vehicles = res.data.vehicles.toString();
        this.drivers = res.data.drivers.toString();
        this.trackers = res.data.trackers.toString();
        this.assignments = res.data.assignments.toString();
      }, err => {
        console.error(err);
      })
    }
  },
  mounted: function() {
    this.fetchStats();
  },
};
</script>
