<template>
  <mdb-container>
    <mdb-row>
      <mdb-col col="lg-2"></mdb-col>
      <mdb-col col="lg-1"></mdb-col>
      <mdb-col col="lg-2">
      <router-link to="/vehicles">
        <mdb-card class="promoting-card square m-1 p-2" >
          <mdb-icon icon="shipping-fast" class="fas fa-7x primary" />
          Vehicles: {{ vehicles }}
        </mdb-card>
      </router-link>
      </mdb-col>
      <mdb-col col="lg-2"></mdb-col>
      <mdb-col col="lg-2">
      <router-link to="/drivers">
        <mdb-card class="promoting-card square m-1 p-2" >
          <mdb-icon icon="users" class="fas fa-7x primary"/>
          Drivers: {{ drivers }}
        </mdb-card>
      </router-link>
      </mdb-col>
    </mdb-row>
    <mdb-row class="fas fa-5x"></mdb-row>
    <mdb-row>
      <mdb-col col="lg-2"></mdb-col>
      <mdb-col col="lg-1"></mdb-col>
      <mdb-col col="lg-2">
        <router-link to="/assignments">
        <mdb-card class="promoting-card square m-1 p-2" >
          <mdb-icon icon="clock" class="fas fa-7x primary"/>
          Trips: {{ assignments }}
        </mdb-card>
      </router-link>
      </mdb-col>
      <mdb-col col="lg-2"></mdb-col>
      <mdb-col col="lg-2">
        <router-link to="/trackers">
        <mdb-card class="promoting-card square m-1 p-2" >
          <mdb-icon icon="compass" class="fas fa-7x primary"/>
          Trackers: {{ trackers }}
        </mdb-card>
      </router-link>
      </mdb-col>
    </mdb-row>
  </mdb-container>
</template>
<script>

import {
  mdbContainer, mdbRow, mdbCol, mdbCard, mdbIcon,
} from 'mdbvue';

export default {
  name: 'dashboard',
  props: {
    vehicles: String,
    drivers: String,
    assignments: String,
    trackers: String,
  },
  components: {
    mdbContainer,
    mdbRow,
    mdbCol,
    mdbCard,
    mdbIcon,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #3f51b5;
  font: bold;
}
i.primary {
  color: #4285f4;
}
</style>
