<template>
  <div id="app">
  <mdb-container >
    <div id="nav">
      <router-link to="/"><mdb-btn color="primary">Home</mdb-btn></router-link> 
      <router-link to="/assignments"><mdb-btn color="primary">Trips</mdb-btn></router-link> 
      <router-link to="/vehicles"><mdb-btn color="primary">Vehicles</mdb-btn></router-link> 
      <router-link to="/drivers"><mdb-btn color="primary">Drivers</mdb-btn></router-link> 
      <router-link to="/trackers"><mdb-btn color="primary">GPS Trackers</mdb-btn></router-link> 
      <router-link to="/about"><mdb-btn color="primary">About</mdb-btn></router-link>
    </div>
    <router-view/>
  </mdb-container>
  </div>
</template>


<script>
import { mdbContainer, mdbBtn } from 'mdbvue';

export default {
  components: {
    mdbContainer,
    mdbBtn,
  },

};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
